## Exercise 4.10 | Part 1

## Contents
### Import Libraries and Dataframe
### Preparing the Instacart Data
### Create Region Variable
### Identify Regular Activity Customers

### Import Libraries and Dataframe

In [ ]:
# Import libraries
import pandas as pd
import numpy as np
import os
import seaborn as sns

In [ ]:
# Import data for dataframe
path = r'/Users/abrockk12.wv.us/Documents/Career Foundry/Instacart Basket Analysis'
all = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_all.pkl'))

### Preparing the Instacart Data

In [3]:
all.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,first name,last name,gender,state,age,date_joined,n_dependants,fam_status,income,_merge
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,Linda,Nguyen,Female,Alabama,31,2019-02-17,3,married,40423,both
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,Linda,Nguyen,Female,Alabama,31,2019-02-17,3,married,40423,both
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,Linda,Nguyen,Female,Alabama,31,2019-02-17,3,married,40423,both
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,Linda,Nguyen,Female,Alabama,31,2019-02-17,3,married,40423,both
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,Linda,Nguyen,Female,Alabama,31,2019-02-17,3,married,40423,both

In [4]:
all.columns

Index(['order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_prior_order', 'product_id',
       'add_to_cart_order', 'reordered', 'product_name', 'aisle_id',
       'department_id', 'prices', 'price_range', 'price_range_loc',
       'busiest_day', 'busiest_days', 'busiest_time_periods', 'max_order',
       'loyalty_flag', 'avg_price', 'spender', 'frequent_user', 'frequency',
       'first name', 'last name', 'gender', 'state', 'age', 'date_joined',
       'n_dependants', 'fam_status', 'income', '_merge'],
      dtype='object')

In [5]:
all.rename(columns = {'n_dependants' : 'n_dependents'}, inplace = True)

In [6]:
# Make data secure by removing first and last name columns. These columns are unnecessary for the analysis and improve security.
all_secure = all.drop(columns = ['avg_price','first name', 'last name', 'date_joined', '_merge'])

In [7]:
all_secure.columns

Index(['order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_prior_order', 'product_id',
       'add_to_cart_order', 'reordered', 'product_name', 'aisle_id',
       'department_id', 'prices', 'price_range', 'price_range_loc',
       'busiest_day', 'busiest_days', 'busiest_time_periods', 'max_order',
       'loyalty_flag', 'spender', 'frequent_user', 'frequency', 'gender',
       'state', 'age', 'n_dependents', 'fam_status', 'income'],
      dtype='object')

### Create Region Variable

In [8]:
# Create a 'region' column based on the 'state' column to determine if there are any insights to each region.
# Check for null state values
all_nan = all_secure[all_secure['state'].isnull() == True]

In [9]:
all_nan

Empty DataFrame
Columns: [order_id, user_id, order_number, orders_day_of_week, order_hour_of_day, days_since_prior_order, product_id, add_to_cart_order, reordered, product_name, aisle_id, department_id, prices, price_range, price_range_loc, busiest_day, busiest_days, busiest_time_periods, max_order, loyalty_flag, spender, frequent_user, frequency, gender, state, age, n_dependents, fam_status, income]
Index: []

[0 rows x 29 columns]

In [10]:
# Create region lists
region_1 = ['Maine', 'New Hampshire', 'Vermont', 'Massachusetts', 'Rhode Island', 'Connecticut', 'New York', 'Pennsylvania', 'New Jersey']

In [11]:
region_2 = ['Wisconsin', 'Michigan', 'Illinois', 'Indiana', 'Ohio', 'North Dakota', 'South Dakota', 'Nebraska', 'Kansas', 'Minnesota', 'Iowa', 'Missouri']

In [12]:
region_3 = ['Delaware', 'Maryland', 'District of Columbia', 'Virginia', 'West Virginia', 'North Carolina', 'South Carolina', 'Georgia', 'Florida','Kentucky', 'Tennessee', 'Mississippi', 'Alabama', 'Oklahoma', 'Texas', 'Arkansas', 'Louisiana']

In [13]:
region_4 = ['Idaho', 'Montana', 'Wyoming', 'Nevada', 'Utah', 'Colorado', 'Arizona', 'New Mexico', 'Alaska', 'Washington', 'Oregon', 'California', 'Hawaii']

In [14]:
# Use the locate function to assign a regional number based on the state
all_secure.loc[all_secure['state'].isin(region_1), 'region'] = '1'

/tmp/ipykernel_37701/568958903.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '1' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  all_secure.loc[all_secure['state'].isin(region_1), 'region'] = '1'

In [15]:
all_secure.loc[all_secure['state'].isin(region_2), 'region'] = '2'

In [16]:
all_secure.loc[all_secure['state'].isin(region_3), 'region'] = '3'

In [17]:
all_secure.loc[all_secure['state'].isin(region_4), 'region'] = '4'

In [18]:
all_secure.head(60)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,spender,frequent_user,frequency,gender,state,age,n_dependents,fam_status,income,region
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,3,married,40423,3
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,3,married,40423,3
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,3,married,40423,3
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,3,married,40423,3
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,3,married,40423,3
5,3367565,1,6,2,7,19.0,196,1,1,Soda,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,3,married,40423,3
6,550135,1,7,1,9,20.0,196,1,1,Soda,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,3,married,40423,3
7,3108588,1,8,1,14,14.0,196,2,1,Soda,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,3,married,40423,3
8,2295261,1,9,1,16,0.0,196,4,1,Soda,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,3,married,40423,3
9,2550362,1,10,4,8,30.0,196,1,1,Soda,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,3,married,40423,3
10,2539329,1,1,2,8,NaN,14084,2,0,Organic Unsweetened Vanilla Almond Milk,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,3,married,40423,3
11,2539329,1,1,2,8,NaN,12427,3,0,Original Beef Jerky,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,3,married,40423,3
12,2398795,1,2,3,7,15.0,12427,3,1,Original Beef Jerky,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,3,married,40423,3
13,473747,1,3,3,12,21.0,12427,2,1,Original Beef Jerky,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,3,married,40423,3
14,2254736,1,4,4,7,29.0,12427,2,1,Original Beef Jerky,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,3,married,40423,3
15,431534,1,5,4,15,28.0,12427,2,1,Original Beef Jerky,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,3,married,40423,3
16,3367565,1,6,2,7,19.0,12427,2,1,Original Beef Jerky,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,3,married,40423,3
17,550135,1,7,1,9,20.0,12427,3,1,Original Beef Jerky,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,3,married,40423,3
18,3108588,1,8,1,14,14.0,12427,1,1,Original Beef Jerky,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,3,married,40423,3
19,2295261,1,9,1,16,0.0,12427,6,1,Original Beef Jerky,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,3,married,40423,3
20,2550362,1,10,4,8,30.0,12427,9,1,Original Beef Jerky,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,3,married,40423,3
21,2539329,1,1,2,8,NaN,26088,4,0,Aged White Cheddar Popcorn,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,3,married,40423,3
22,2398795,1,2,3,7,15.0,26088,5,1,Aged White Cheddar Popcorn,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,3,married,40423,3
23,2539329,1,1,2,8,NaN,26405,5,0,XL Pick-A-Size Paper Towel Rolls,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,3,married,40423,3
24,2254736,1,4,4,7,29.0,26405,5,1,XL Pick-A-Size Paper Towel Rolls,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,3,married,40423,3
25,2398795,1,2,3,7,15.0,10258,2,0,Pistachios,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,3,married,40423,3
26,473747,1,3,3,12,21.0,10258,3,1,Pistachios,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,3,married,40423,3
27,2254736,1,4,4,7,29.0,10258,3,1,Pistachios,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,3,married,40423,3
28,431534,1,5,4,15,28.0,10258,3,1,Pistachios,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,3,married,40423,3
29,3367565,1,6,2,7,19.0,10258,3,1,Pistachios,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,3,married,40423,3
30,550135,1,7,1,9,20.0,10258,2,1,Pistachios,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,3,married,40423,3
31,3108588,1,8,1,14,14.0,10258,3,1,Pistachios,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,3,married,40423,3
32,2295261,1,9,1,16,0.0,10258,5,1,Pistachios,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,3,married,40423,3
33,2550362,1,10,4,8,30.0,10258,6,1,Pistachios,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,3,married,40423,3
34,2398795,1,2,3,7,15.0,13176,4,0,Bag of Organic Bananas,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,3,married,40423,3
35,431534,1,5,4,15,28.0,13176,8,1,Bag of Organic Bananas,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,3,married,40423,3
36,2398795,1,2,3,7,15.0,13032,6,0,Cinnamon Toast Crunch,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,3,married,40423,3
37,550135,1,7,1,9,20.0,13032,5,1,Cinnamon Toast Crunch,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,3,married,40423,3
38,2550362,1,10,4,8,30.0,13032,8,1,Cinnamon Toast Crunch,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,3,married,40423,3
39,473747,1,3,3,12,21.0,25133,4,0,Organic String Cheese,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,3,married,40423,3
40,2254736,1,4,4,7,29.0,25133,4,1,Organic String Cheese,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,3,married,40423,3
41,431534,1,5,4,15,28.0,25133,4,1,Organic String Cheese,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,3,married,40423,3
42,3367565,1,6,2,7,19.0,25133,4,1,Organic String Cheese,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,3,married,40423,3
43,550135,1,7,1,9,20.0,25133,4,1,Organic String Cheese,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,3,married,40423,3
44,3108588,1,8,1,14,14.0,25133,4,1,Organic String Cheese,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,3,married,40423,3
45,2295261,1,9,1,16,0.0,25133,3,1,Organic String Cheese,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,3,married,40423,3
46,2550362,1,10,4,8,30.0,25133,5,1,Organic String Cheese,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,3,married,40423,3
47,473747,1,3,3,12,21.0,30450,5,0,Creamy Almond Butter,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,3,married,40423,3
48,431534,1,5,4,15,28.0,10326,5,0,Organic Fuji Apples,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,3,married,40423,3
49,431534,1,5,4,15,28.0,17122,6,0,Honeycrisp Apples,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,3,married,40423,3
50,431534,1,5,4,15,28.0,41787,7,0,Bartlett Pears,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,3,married,40423,3
51,3108588,1,8,1,14,14.0,46149,5,0,Zero Calorie Cola,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,3,married,40423,3
52,2295261,1,9,1,16,0.0,46149,2,1,Zero Calorie Cola,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,3,married,40423,3
53,2550362,1,10,4,8,30.0,46149,2,1,Zero Calorie Cola,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,3,married,40423,3
54,3108588,1,8,1,14,14.0,49235,6,0,Organic Half & Half,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,3,married,40423,3
55,2295261,1,9,1,16,0.0,49235,1,1,Organic Half & Half,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,3,married,40423,3
56,2550362,1,10,4,8,30.0,39657,3,0,Milk Chocolate Almonds,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,3,married,40423,3
57,2550362,1,10,4,8,30.0,38928,4,0,0% Greek Strained Yogurt,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,3,married,40423,3
58,2550362,1,10,4,8,30.0,35951,7,0,Organic Unsweetened Almond Milk,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,3,married,40423,3
59,2968173,15,15,1,9,7.0,196,2,0,Soda,...,Low spender,10.0,Frequent customer,Female,Indiana,69,0,divorced/widowed,54313,2

In [19]:
all_secure.shape

(32404859, 30)

All entries now have a regional value assigned to them.

### Identify Regular Activity Customers

In [20]:
# Cross region and spender columns to create a table
cross_tab_all = pd.crosstab(index=all_secure['region'],
                             columns=all_secure['spender'],
                             normalize="index")

In [21]:
cross_tab_all

spender  High spender  Low spender
region
1            0.018911     0.981089
2            0.020530     0.979470
3            0.019430     0.980570
4            0.019336     0.980664

From the 'cross_tab_all' table, we can see that there is no difference between each region when it comes to high- or low-spenders.

In [22]:
# Create an exclusion flag for low-activity customers (less than 5 orders) and then exclude them from the data
all_secure.loc[all_secure['max_order'] < 5, 'activity']= 'Low activity'

/tmp/ipykernel_37701/2917128812.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Low activity' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  all_secure.loc[all_secure['max_order'] < 5, 'activity']= 'Low activity'

In [23]:
all_secure.loc[all_secure['max_order'] >= 5, 'activity']= 'Regular activity'

In [24]:
all_secure['activity'].value_counts()

activity
Regular activity    30964564
Low activity         1440295
Name: count, dtype: int64

In [25]:
low_activity = all_secure.loc[all_secure['activity'] == 'Low activity']

In [26]:
low_activity.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,frequent_user,frequency,gender,state,age,n_dependents,fam_status,income,region,activity
1510,520620,120,1,3,11,NaN,196,2,0,Soda,...,19.0,Regular customer,Female,Kentucky,54,2,married,99219,3,Low activity
1511,3273029,120,3,2,8,19.0,196,2,1,Soda,...,19.0,Regular customer,Female,Kentucky,54,2,married,99219,3,Low activity
1512,520620,120,1,3,11,NaN,46149,1,0,Zero Calorie Cola,...,19.0,Regular customer,Female,Kentucky,54,2,married,99219,3,Low activity
1513,3273029,120,3,2,8,19.0,46149,1,1,Zero Calorie Cola,...,19.0,Regular customer,Female,Kentucky,54,2,married,99219,3,Low activity
1514,520620,120,1,3,11,NaN,26348,3,0,Mixed Fruit Fruit Snacks,...,19.0,Regular customer,Female,Kentucky,54,2,married,99219,3,Low activity

In [27]:
regular_activity = all_secure.loc[all_secure['activity'] != 'Low activity']

In [28]:
regular_activity['activity'].value_counts()

activity
Regular activity    30964564
Name: count, dtype: int64

In [29]:
regular_activity.shape

(30964564, 31)

In [30]:
# Assign df to dataframe for easy use.
df = regular_activity

In [31]:
# Drop 'activity' column since all entries are now considered 'regular activity'
df = df.drop(columns = ['activity'])

In [32]:
df['avg_price'] = df.groupby(['user_id'])['prices'].transform(np.mean)

/tmp/ipykernel_37701/1539603595.py:1: FutureWarning: The provided callable <function mean at 0x117783880> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df['avg_price'] = df.groupby(['user_id'])['prices'].transform(np.mean)

In [33]:
# Export Data
df.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_all.pkl'))